 body
 {
 margin: 8px;
 padding:3%;
 display: block;
 }

#mainHeading
{
    color:red;
}
#testP
{
    color: green;
}
.funParagraph
{
    color:green;
}
 img
 {
     max-width:100%;
     height:auto;
 }